<tr>
      <th scope="row"><%= store.id %></th>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= store.number %></td>
      <td><%= store.zip_code %></td>
      <td><%= store.city %></td>
      <td><%= store.country %></td>
      <td><%= link_to "Ver mas", store %></td>    
</tr>