<tr>
      <th scope="row"><%= store.id %></th>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= store.number %></td>
      <td><%= link_to "Details", store, class:"btn btn-primary"%><%= link_to "Edit", store_edit_path(store.id), method: :patch, class:"btn btn-warning ms-2" %><%= link_to "Delete", store, method: :delete, class:"btn btn-danger ms-2" %>
</td>    
</tr>