<tr>
      <th scope="row"><%= category.id %></th>
      <td><%= category.name %></td>
      <td>
            <% category.keywords.each do |keyword| %>
            <small> <%= keyword.name %> </small>
            <% end %>
      </td>
      <td class="d-flex flex-column flex-lg-row justify-content-between col-lg-6">
      <%= link_to "Details", category_path(category), class: "btn btn-primary" %>
      <%= link_to "Edit", edit_category_path(category.id) , class:"btn btn-warning"%>
      <%= link_to "Delete", category, class:"btn btn-danger", method: :delete %></td>    
</tr>