
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-10 col-lg-6">

<div class="card border border-dark">
<div class="card-header text-center fw-bold fs-4">
  <% if local_assigns[:edit] %>
    Edit Category
  <% else %>
    Create Category
  <%end%>
</div>
<div class="card-body">
<%= form_with(model: @category, local: true) do |form| %>
  <div class="row g-3">  

  <div class="col-md-12">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
    <% @category.errors.full_messages_for(:name).each do |message| %>
      <span class="text-danger fw-bold"><%= message %></span>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= form.label :keywords_string, "Palabras claves" %>
    <%= form.text_field :keywords_string, class:"form-control", value: @category.keywords.map(&:name).join(',') %>
  </div>

  <div class="form-group"> 
    <%= form.submit class:"mt-3 btn btn-dark d-block mx-auto"%>
  </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>