<div class="container" >
  <div class="row justify-content-center" >
    <div class="col-md-12 mb-4">
    <h1 class="text-center">Products of the category <%= @category.name %></h1>
    </div>
      <% @category.products.each do |product| %>
      <div class="col-md-4" >
      <div class="card card-5 rounded 1">
             <% if product.image.attached? %>
        <%= image_tag url_for(product.image), class:"card-img-top" %>
      <% else %>
 <%= image_tag url_for("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn0.iconfinder.com%2Fdata%2Ficons%2Fzillo-data-internet-vol-1%2F25%2Fpage_error_404_not_found-512.png&f=1&nofb=1"), class:"card-img-top"%>
       <% end %>
        <div class="card-body">
        <p class="card-text"><%= product.name %></p>
        <p class="card-text">Price: <%= product.price %></p>
        <p class="card-text">Size: <%= product.size %></p>
        </div>
      </div>
      </div> 
      <%end%>
    </div>
  </div>
  </div>
</div>