<tr>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name %></td>
      <td><%= product.color %></td>
      <td><%= product.size %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Ver mas", product %></td>    
</tr>